$secondary: #1BB954;
$very-dark-gray: #313640;
$light-gray: #9198A4;
$very-light-gray: #CAD7DC;
$primary: #08b3e2;
$background-color: #F2F5F6;

$bright-blue: #037FA7; 
$brighter-blue: #7BD4F1; 
$bright-green: #0ED9A2;

$primary-blue: #01394C;
$tertiary-blue: #3C656F;

$light-yellow: #F4E095;


//Formatting   
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

header {
  color: #ffffff;
  font-size: 0.8rem;
}

header.header-top {
  background-color: $bright-blue;
}

header h1, header h2, header h3 {
  font-size: 0.7rem;
  margin-bottom: .7rem;
}

header h1 {
  margin-bottom: .2rem;
}

header h2 {
  font-size: 1rem;
}

header a, header a:hover {
  color: #ffffff;
  text-decoration: none;
  line-height: 0;
}

header .text-sm-muted{
  line-height: 0;
}

.header-sub .notice{
  color: $light-yellow;
}


header .text-sm-muted {
  color: $very-light-gray;
  font-size: 0.7rem;
}

.text-brighter-blue{
  color: $brighter-blue
}

.header-top button, .header-top button:active, .header-top button:hover{
  background-color: rgb(111, 190, 214);
  border: 0;
  color: rgb(37, 63, 71);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding:10px;
  border-radius: .1rem;
  
}

.header-top img.avatar{
    width: 40px;
    border-radius: 50%;
}

header.header-sub {
  background-color: $primary-blue;
  border-color: $tertiary-blue !important;
  min-height: 50px;
}

.selected-course-list-item-border{
  border-left: $bright-green 5px solid !important;
}

.btn.login {
  width: 100%;
  background-color: $bright-blue;
  border: $bright-blue;
  font-size: 0.8rem;
  font-weight: bold;
  height: calc(1.5em + .75rem + 5px);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.2)!important;
  border-radius: .1rem!important;
  
}

.container.login .logo{
  width: 50px;
}

.form-control {
  border-radius: 0;
  font-size: 0.8rem;
  height: calc(1.5em + .75rem + 5px);
}

.form-control:focus {
  box-shadow: none;
}

///----

.course-list-item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid  #ccc;
    border-right: 1px solid  #ccc;
}

.course-list-item.first{
  border-top: 1px solid  #ccc;
}

.isRegistered{
   border-left: 3px solid  $bright-green;
}

///----

.small, small {
  font-size: 70%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3{
  color:#ffffff;
}

.login h1,h2,h3{
  color:#000000;
}

hr.hr-light{
  border-top: 1px solid $very-dark-gray;
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}